# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.github/
hooks/
node_modules/
platforms/
plugins/
resources/
www/
.DS_Store
.gitignore
.editorconfig
emulate.sh
config.xml
ionic.config.json
package.json
package-lock.json
tsconfig.json
tslint.json
LICENSE
README.md

