.bank-info-list{ overflow: hidden;padding-left:0;list-style-type:none;}
.bank-info-list li{ width: 50%; float:left;}
.bank-info-list li > div{ margin: 5px; padding: 1px 10px; border-radius: 3px; color: #fff;overflow: hidden}
.bank-info-list li h4{ font-size:20px;color:#FFF;font-weight: 400;white-space:nowrap;margin-top:1rem;margin-bottom:.5rem;}
.bank-info-list li h4 span{ font-size: 14px;margin:0 2px;}
.bank-info-list li div p{ font-size: 16px;white-space:nowrap;margin:0px;}
.bank-info-list li div p span{margin-right:5px;}
.bank-info-list li .bank-logo{width:80px;height:80px;margin:35px auto 6px auto;text-align: center;overflow:hidden}
.bank-info-list li .bank-logo i{ font-size: 70px;}

.bank-info-list .bank-cmb{ background: linear-gradient(to bottom right, #f3394a , #ef2e3c);}
.bank-info-list .bank-lz{ background: linear-gradient(to bottom right, #2f63c3 , #2651b2);}
.bank-info-list .bank-hr{ background: linear-gradient(to bottom right, #eeb109 , #e89907);}
.bank-info-list .bank-boc{ background: linear-gradient(to bottom right, #d71b1b , #cb1616);}
.bank-info-list .bank-nb{ background: linear-gradient(to bottom right, #fb701c , #fb701c);}
.bank-info-list .bank-gzns{ background: linear-gradient(to bottom right, #1194b4 , #0e799e);}
.bank-info-list .bank-nc{ background: linear-gradient(to bottom right, #006fbf , #005bac);}
.bank-info-list .bank-qd{ background: linear-gradient(to bottom right, #e52336 , #dd1d2c);}
.bank-info-list .bank-yd{ background: linear-gradient(to bottom right, #11ae66 , #0e9553);}
.bank-info-list .bank-js{ background: linear-gradient(to bottom right, #debe53 , #d4ab44);}
.bank-info-list .bank-pf{ background: linear-gradient(to bottom right, #5259d0 , #3337a8);}
.bank-info-list .bank-yhns{ background: linear-gradient(to bottom right, #df3036 , #d6272c);}
.bank-info-list .bank-zjw{ background: linear-gradient(to bottom right, #d9b054 , #cb9241);}
.bank-info-list .bank-zs{ background: linear-gradient(to bottom right, #de262e , #d41f25);}
.bank-info-list .bank-liuzou{ background: linear-gradient(to bottom right, #f39e28 , #f29625);}
.bank-info-list .bank-hcns{ background: linear-gradient(to bottom right, #f38d38 , #f28535);}
.bank-info-list .bank-nanyue{ background: linear-gradient(to bottom right, #d60a19 , #cf0916);}
.bank-info-list .bank-zx{ background: linear-gradient(to bottom right, #f3314c , #f22e47);}
.bank-info-list .bank-hx{ background: linear-gradient(to bottom right, #b3232e , #ab202a);}
.bank-info-list .bank-jg{ background: linear-gradient(to bottom right, #009c80 , #009578);}
.bank-info-list .bank-ql{ background: linear-gradient(to bottom right, #006cba , #005bab);}
.bank-info-list .bank-xn{ background: linear-gradient(to bottom right, #006cba , #005bab);}
.bank-info-list .bank-nancong{ background: linear-gradient(to bottom right, #deb51e , #dbb01c);}
.bank-info-list .bank-CRCB{ background: linear-gradient(to bottom right, #b71a38 , #b11834);}
.bank-info-list .bank-jiaxian{ background: linear-gradient(to bottom right, #da2e09 , #d82b09);}
.bank-info-list .bank-mianyang{ background: linear-gradient(to bottom right, #1c31e5 , #1a2ee3);}
.bank-info-list .bank-luoyang{ background: linear-gradient(to bottom right, #054195 , #053d8e);}
.bank-info-list .bank-taian{ background: linear-gradient(to bottom right, #db2a31 , #d9272e);}
.bank-info-list .bank-yinzhou{ background: linear-gradient(to bottom right, #29ae3d , #27a839);}
.bank-info-list .bank-weifang{ background: linear-gradient(to bottom right, #e3411e , #e13d1c);}
.bank-info-list .bank-deqing{ background: linear-gradient(to bottom right, #0052a9 , #004da2);}
.bank-info-list .bank-gansu{ background: linear-gradient(to bottom right, #cf773b , #cc7138);}
.bank-info-list .bank-lingxi{ background: linear-gradient(to bottom right, #deaf5a , #d9a450);}
.bank-info-list .bank-dunhua{ background: linear-gradient(to bottom right, #f38e39 , #f28535);}
.bank-info-list .bank-jiutai{ background: linear-gradient(to bottom right, #d9963b , #db953d);}
.bank-info-list .bank-xinchang{ background: linear-gradient(to bottom right, #4a0888 , #3a0888);}