page-home {
  .platform-data-list {
    padding: 15px;
    .platform-data {
      width: 100%;
      height: 150px;
      color: #fff;
      margin-bottom: 15px;
      position: relative;
      .button{
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
      }
    }
  }
  .platform-data-list .data-1 {
    background: url("../assets/img/platform-data-bg01.png") no-repeat;
    background-size: 100% 150px;
  }
  .platform-data-list .data-2 {
    background: url("../assets/img/platform-data-bg02.png") no-repeat;
    background-size: 100% 150px;
  }
  .platform-data-list .data-3 {
    background: url("../assets/img/platform-data-bg03.png") no-repeat;
    background-size: 100% 150px;
  }
  .platform-data-list p {
    padding: 16px;
    margin: 0;
  }
  .platform-data-list h5 {
    padding-top: 44px;
    margin-left: 16px;
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
  }
  .platform-data-list p {
    padding-top: 1px;
    font-size: 3rem;
  }
  .platform-data-list p i {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
  }
}