.toolbar-ios.time-list, .toolbar-md.time-list {
  color: color($colors, gray, mid2);
  padding: 0px;
  min-height: 44px;
  .button-clear-ios, .button-clear-md {
    color: color($colors, gray, mid2);
  }
}

ion-navbar.toolbar {
  .bar-button-outline-ios {
    color: color($colors, gray, mid);
    border-color: color($colors, gray, mid);
  }
}

.my-toolbar {
  .toolbar-background-ios, .toolbar-background-md {
    background: none;
  }
  /*.segment-ios .segment-button{
    border-width:0px 0px 1px 0px ;
  }
  .segment-ios .segment-button:hover:not(.segment-activated){

  }*/
}

.my-segment {
  border-bottom: 1px solid color($colors, dark, mid1);
  background-color: #1e1e28;
  &.segment-ios .segment-button {
    border: 0px;
    font-size: 1.5rem;
    color: color($colors, gray, mid);
    height: 44px;
    line-height: 44px;
  }
  &.segment-ios .segment-button.segment-activated {
    background: none;
    color: color($colors, primary);
    border-bottom: 2px solid color($colors, primary);
    border-radius: 0px;
    font-size: 1.7rem;
  }
  &.segment-ios .segment-button:hover:not(.segment-activated) {
    background: none;
  }
}

.my-slide {
  height: auto;
  .swiper-slide {
    display: block;
    font-size: 1.4rem;
  }
  .slide-zoom {
    text-align: left;
  }
}

.total-data {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 10px;
  border-bottom: 1px solid color($colors, dark, mid1);
  text-align: center;
  p {
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: color($colors, gray);
  }
  h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
    span {
      font-size: 1.8rem;
    }
  }
  h3 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 400;
    span {
      font-size: 1.4rem;
    }
  }
}

.sub-total-data {
  &.have-border {
    border-top: 1px solid color($colors, dark, mid1);
    padding-top: 16px;
  }
  h2 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 400;
    span {
      font-size: 1.4rem;
    }
    strong {
      font-weight: 400;
    }
  }
  p {
    margin: 0;
    font-size: 1.4rem;
    color: color($colors, gray);
  }
}

.model-title.list-ios {
  margin-bottom: 10px;
}

.model-title.list-ios .item-block:last-child {
  border-color: color($colors, dark, mid1);
}

.model-title {
  .item-ios {
    background-color: color($colors, dark, mid);
  }
}

.list-ios.my-list {
  .item-block .item-inner, .item-block:first-child, .item-block:last-child {
    border-color: color($colors, dark, mid2);
  }
  ion-label {
    white-space: normal;
  }
}

.platform-info {
  h4 {
    color: color($colors, gray);
    border-bottom: 1px solid color($colors, dark, mid1);
    padding: 0 0 10px 0;
    text-align: left;
    font-size: 1.4rem;
  }
}

.info-list {
  h4 {
    margin: 0;
    color: #fff;
    font-size: 16px;
  }
  .unit {
    font-size: 1.4rem;
    margin-left: 5px;
  }
  .row {
    margin-bottom: 6px;
    padding: 4px;
    font-size: 1.6rem;
  }
  .item {
    background: none;
    border: 0px;
  }
}

.info-list-bg {
  .row {
    background: color($colors, dark) url("../assets/img/bg-1.png") 0 0 no-repeat;
  }
}

.model-content {
  position: relative;
  .axis-label {
    position: absolute;
    left: 16px;
    color: #666;
    &.top{
      top:8px;
    }
    &.bottom{
      bottom:38px;
    }
  }
}

/*用户转化*/
.user {
  height: 305px;
  position: relative;
  .title {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0 0 0 10px;
    color: #787882;
    font-size: 12px;
    background: #1e1e28;
  }
  .title i {
    font-size: 1.4vh
  }
  .number {
    position: absolute;
    text-align: center;
    color: #fff;
  }
  .user-inner {
    position: absolute;
    top: 50%;
    margin-top: -90px;
    left: 10px;
    right: 10px;
  }
  .user-item {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .item-1 {
    z-index: 4;
    height: 58px;
    background: url(../assets/img/pyramid-1.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 79px;
      top: 35px;
      width: 75px;
    }
    .title {
      line-height: 50px;
    }
  }
  .item-2 {
    top: -2px;
    z-index: 3;
    height: 35px;
    background: url(../assets/img/pyramid-2.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 63px;
      top: 13px;
      width: 105px;
    }
    .title {
      line-height: 18px;
    }

  }
  .item-3 {
    top: -7px;
    z-index: 2;
    height: 45px;
    background: url(../assets/img/pyramid-3.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 35px;
      top: 19px;
      width: 160px;
    }
    .title {
      line-height: 27px;
    }
  }
  .item-4 {
    top: -18px;
    z-index: 1;
    height: 62px;
    background: url(../assets/img/pyramid-4.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 20px;
      top: 29px;
      width: 190px;
    }
    .title {
      line-height: 34px;
    }
  }
}

.my-footer {
  padding: 16px 0;
  text-align: center;
  background-color: color($colors, light)
}

ion-content.has-refresher > .scroll-content {
  border: none;
}

.my-refresher .refresher-refreshing .spinner-ios line {
  stroke: color($colors, light);
}

.my-loading {
  &.loading-ios .spinner-ios line {
    stroke: color($colors, light);
  }
  &.loading-ios .loading-wrapper {
    background: none;
  }

}