// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {font-family: "Ionicons";
  src:url('../assets/fonts/iconfont.woff?') format('woff'), /* chrome, firefox */
  url('../assets/fonts/iconfont.ttf?') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/fonts/iconfont.svg?#iconFont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"Ionicons" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-ios-no-content:before { content: "\e61c"; }
.ion-ios-close:before { content: "\e61e"; }
.ion-ios-arrow-back:before { content: "\e630"; }
.ion-ios-arrow-left-1:before { content: "\e604"; }
.ion-ios-arrow-right-2:before { content: "\e605"; }
.ion-ios-arrow-right-1:before { content: "\e601"; }
.ion-ios-arrow-down:before { content: "\e602"; }
.ion-ios-arrow-up:before { content: "\e603"; }
.ion-ios-arrow-down-2:before { content: "\e606"; }
.ion-ios-arrow-up-2:before { content: "\e607"; }
.ion-ios-down:before { content: "\e60e"; }
.ion-ios-up:before { content: "\e60f"; }
.ion-ios-list:before { content: "\e610"; }
.ion-ios-hide:before { content: "\e611"; }
.ion-ios-leave:before { content: "\e612"; }
.ion-ios-show:before { content: "\e61d"; }
.ion-ios-warning:before { content: "\e628"; }
.ion-ios-help:before { content: "\e696"; }
.ion-ios-reduce:before { content: "\e629"; }
.ion-ios-refresh:before { content: "\e654"; }

.ion-md-no-content:before { content: "\e61c"; }
.ion-md-close:before { content: "\e61e"; }
.ion-md-arrow-back-md:before { content: "\e68a"; }
.ion-md-arrow-left-1:before { content: "\e604"; }
.ion-md-arrow-right-2:before { content: "\e605"; }
.ion-md-arrow-right-1:before { content: "\e601"; }
.ion-md-arrow-down:before { content: "\e602"; }
.ion-md-arrow-up:before { content: "\e603"; }
.ion-md-arrow-down-2:before { content: "\e606"; }
.ion-md-arrow-up-2:before { content: "\e607"; }
.ion-md-down:before { content: "\e60e"; }
.ion-md-up:before { content: "\e60f"; }
.ion-md-list:before { content: "\e610"; }
.ion-md-hide:before { content: "\e611"; }
.ion-md-leave:before { content: "\e612"; }
.ion-md-show:before { content: "\e61d"; }
.ion-md-warning:before { content: "\e628"; }
.ion-md-help:before { content: "\e696"; }
.ion-md-reduce:before { content: "\e629"; }
.ion-md-refresh:before { content: "\e654"; }


.toolbar-ios.time-list, .toolbar-md.time-list {
  color: color($colors, gray, mid2);
  padding: 0px;
  min-height: 44px;
  .button-clear-ios, .button-clear-md {
    color: color($colors, gray, mid2);
  }
}

ion-navbar.toolbar {
  .bar-button-outline-ios {
    color: color($colors, gray, mid);
    border-color: color($colors, gray, mid);
  }
}

.my-toolbar {
  .toolbar-background-ios, .toolbar-background-md {
    background-color: #1e1e28;
  }
  /*.segment-ios .segment-button{
    border-width:0px 0px 1px 0px ;
  }
  .segment-ios .segment-button:hover:not(.segment-activated){

  }*/
}

.my-segment {
  border-bottom: 1px solid color($colors, dark, mid1);
  &.segment-ios .segment-button,&.segment-md .segment-button {
    border: 0px;
    font-size: 1.5rem;
    color: color($colors, gray, mid);
    height: 44px;
    line-height: 44px;
  }
  &.segment-ios .segment-button.segment-activated,&.segment-md .segment-button.segment-activated  {
    background: none;
    color: color($colors, primary);
    border-bottom: 2px solid color($colors, primary);
    border-radius: 0px;
    font-size: 1.7rem;
  }
  &.segment-ios .segment-button:hover:not(.segment-activated) {
    background: none;
  }
}

.my-segment-1 {
  &.segment-ios .segment-button {
    height: 2.4rem;
    line-height: 2.3rem;
  }
}
.my-slide {
  height: auto;
  .swiper-slide {
    display: block;
    font-size: 1.4rem;
  }
  .slide-zoom {
    text-align: left;
  }
}

.total-data {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 10px;
  border-bottom: 1px solid color($colors, dark, mid1);
  text-align: center;
  p {
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: color($colors, gray);
  }
  h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
    i {
      font-size: 1.8rem;
      font-style:normal;
    }
  }
  h3 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 400;
    i {
      font-size: 1.4rem;
      font-style:normal;
    }
  }
  .icon{
    font-size:1.6rem;
  }
  .endPoint-arrow{
    color:color($colors,gray,mid2);
    font-size:1.2rem;
  }
  .endPoint-text{
    color:color($colors,gray,mid);
    font-size:1.4rem;
  }
}

.total-data-1 {
  padding-bottom: 10px;
  margin: 0 10px;
  border-bottom: 1px solid color($colors, dark, mid1);
  text-align: center;
  p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: color($colors, gray);
  }
  h3 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 400;
    i {
      font-size: 1.4rem;
      font-style:normal;
    }
  }
}


.sub-total-data {
  &.have-border {
    border-top: 1px solid color($colors, dark, mid1);
    padding-top: 16px;
  }
  h2 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 400;
    span {
      font-size: 1.4rem;
    }
    strong {
      font-weight: 400;
    }
  }
  p {
    margin: 0;
    font-size: 1.4rem;
    color: color($colors, gray);
  }
}

.model-title.list-ios {
  margin-bottom: 10px;
}

.my-list {
  .item-block .item-inner, .item-block:first-child, .item-block:last-child {
    border-color: color($colors, dark, mid2);
  }
  ion-label {
    white-space: normal;
  }
  .item-md,.item-ios{
    background:none;
  }
}

.platform-info {
  h4 {
    color: color($colors, gray);
    border-bottom: 1px solid color($colors, dark, mid1);
    padding: 0 0 10px 0;
    text-align: left;
    font-size: 1.4rem;
  }
}

.info-list {
  h4 {
    margin: 0;
    color: #fff;
    font-size: 16px;
  }
  .row {
    margin-bottom: 6px;
    padding: 4px;
    font-size: 1.6rem;
  }
  .item {
    background: none;
    border: 0px;
  }
  i{
    font-style: normal;
    font-size:1.2rem;
    margin:0 .2rem;
  }
  ion-icon{
    font-size:0.8rem;
  }
}

.info-list-bg {
  .row {
    background: color($colors, dark) url("../assets/img/bg-1.png") 0 0 no-repeat;
  }
}

.line-chart-1{
  height:260px;
}
.bar-chart-1{
  height:420px;
}
.pie-chart-1{
  height:260px;
}

.model-content {
  position: relative;
  .axis-label {
    position: absolute;
    left: 16px;
    color: #666;
    &.top{
      top:8px;
    }
    &.bottom{
      bottom:42px;
    }
  }
  .scroll-box{
    position:absolute;left:70px;top:0;right:0;
  }
  .scroll-bg{
    position:absolute;left:70px;top:50px;bottom:0;right:0;
    background-color: #1e1e28;
  }
}

/*用户转化*/
.user {
  height: 305px;
  position: relative;
  .title {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0 0 0 10px;
    color: #787882;
    font-size: 12px;
    background: #1e1e28;
  }
  .title i {
    font-size: 1.4vh
  }
  .number {
    position: absolute;
    text-align: center;
    color: #fff;
  }
  .user-inner {
    position: absolute;
    top: 50%;
    margin-top: -90px;
    left: 10px;
    right: 10px;
  }
  .user-item {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .item-1 {
    z-index: 4;
    height: 58px;
    background: url(../assets/img/pyramid-1.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 79px;
      top: 35px;
      width: 75px;
    }
    .title {
      line-height: 50px;
    }
  }
  .item-2 {
    top: -2px;
    z-index: 3;
    height: 35px;
    background: url(../assets/img/pyramid-2.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 63px;
      top: 13px;
      width: 105px;
    }
    .title {
      line-height: 18px;
    }

  }
  .item-3 {
    top: -7px;
    z-index: 2;
    height: 45px;
    background: url(../assets/img/pyramid-3.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 35px;
      top: 19px;
      width: 160px;
    }
    .title {
      line-height: 27px;
    }
  }
  .item-4 {
    top: -18px;
    z-index: 1;
    height: 62px;
    background: url(../assets/img/pyramid-4.png) 0 0 no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    .number {
      left: 20px;
      top: 29px;
      width: 190px;
    }
    .title {
      line-height: 34px;
    }
  }
}
.refresher-refreshing-icon,.refresher-pulling-icon{
  font-size:2rem;
  color:#FFF;
}


.my-footer {
  padding: 16px 0;
  text-align: center;
  background-color: color($colors, light)
}

.footer-bar{
  &.footer {
    .button-clear-ios,.button-clear-md {
      color: color($colors, gray, mid);
      font-size:1.4rem;
    }
    [icon-left] ion-icon{
      font-size:2.8rem;
    }
    .col{
      border-right:1px solid color($colors,dark,mid)
    }
  }
}

.my-toast {
  text-align: center;
  .toast-icon{
    font-size:1.8rem;
    color:#ffc75c;
    margin-right:4px;
  }
}

ion-content.has-refresher > .scroll-content {
  border: none;
}

.black-loading .spinner-ios line {
  stroke: color($colors, gray);
}

