<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            {{'PLATFORM_TOTAL_TITLE' | translate}}
        </ion-title>
        <ion-buttons end>
            <ucs-unit pageName="{{pageName}}"></ucs-unit>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar class="time-list" color="dark" text-center>
        <ucs-date pageName="{{pageName}}"></ucs-date>
    </ion-toolbar>
    <ion-toolbar ngClass="my-toolbar" no-border>
        <ion-segment [(ngModel)]="platformType" ngClass="my-segment">
            <ion-segment-button value="1" (click)="getPlatformSegment()">网 金</ion-segment-button>
            <ion-segment-button value="2" (click)="getPlatformSegment()">竞 品</ion-segment-button>
            <ion-segment-button value="3" (click)="getPlatformSegment()">传统理财</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" ngClass="my-refresher">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-slides #MainSlides pager="false" class="my-slide" (ionSlideDidChange)="slideChange()">
        <!--网金-->
        <ion-slide>
            <div class="padding warning">
            </div>
            <div>
                <div class="total-data">
                    <p>当日累计交易额</p>
                    <h2 ion-text [innerHTML]="totalData.totalUCS[0]"
                        color="{{totalData.totalUCS[1]=='true'?'danger':(totalData.totalUCS[1]=='false'?'secondary':'')}}"></h2>
                </div>
                <div eCharts [options]="lineChartOption_1" [dataSet]="trendData" ngClass="line-chart-1"
                     (chartInit)="onChartInit($event)"></div>
                <ion-list class="model-title">
                    <ion-item (click)="showContent(0)">
                        <h2>各平台指数排行</h2>
                        <ion-note item-right>
                            <ion-icon name="{{modelContent[0] ? 'arrow-down':'arrow-down'}}"></ion-icon>
                        </ion-note>
                    </ion-item>
                </ion-list>
                <div class="model-content" *ngIf="modelContent[0]">
                    <ion-segment [(ngModel)]="dataType" ngClass="my-segment">
                        <ion-segment-button value="2" (click)="ucsPlatformExponent()">交易额</ion-segment-button>
                        <ion-segment-button value="1" (click)="ucsPlatformExponent()">收益率</ion-segment-button>
                        <ion-segment-button value="3" (click)="ucsPlatformExponent()">期限</ion-segment-button>
                        <ion-segment-button value="4" (click)="ucsPlatformExponent()">项目数</ion-segment-button>
                    </ion-segment>
                    <div [ngSwitch]="dataType" padding>
                        <!--交易额-->
                        <div *ngSwitchCase="'2'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">金额(元)</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of platformsCompareData[2]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col col-4 text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        <span [innerHTML]="item.number"></span>
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <!--收益率-->
                        <div *ngSwitchCase="'1'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">收益率</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of platformsCompareData[1]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        {{item.number}}
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <!--期限-->
                        <div *ngSwitchCase="'3'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">期限(天)</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of platformsCompareData[3]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        {{item.number}}
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <!--项目数-->
                        <div *ngSwitchCase="'4'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">项目数(个)</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of platformsCompareData[4]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        {{item.number}}
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
        <!--竞品-->
        <ion-slide>
            <div class="padding warning">
            </div>
            <div>
                <div class="total-data">
                    <p>昨日交易额</p>
                    <h2 ion-text [innerHTML]="totalData.totalEnemy[0]"
                        color="{{totalData.totalEnemy[1]=='true'?'danger':(totalData.totalEnemy[1]=='false'?'secondary':'')}}"></h2>
                </div>
                <div class="model-content">
                    <div eCharts [options]="barChartOption_1" [dataSet]="enemyBarData" style="height: 420px;"></div>
                    <div class="scroll-box">
                        <ion-scroll scrollX="true" style="height: 420px;">
                            <div eCharts [options]="barChartOption_2" [dataSet]="enemyBarData" style="height: 420px;"
                                 [style.width]="barChartWidth +'px'" (chartInit)="onChartInit($event)"></div>
                        </ion-scroll>
                    </div>
                    <div class="scroll-bg"></div>
                </div>
                <ion-list class="model-title">
                    <ion-item (click)="showContent(1)">
                        <h2>各平台指数排行</h2>
                        <ion-note item-right>
                            <ion-icon name="arrow-down"></ion-icon>
                        </ion-note>
                    </ion-item>
                </ion-list>
                <div class="model-content" *ngIf="modelContent[1]">
                    <ion-segment [(ngModel)]="enemyDataType" ngClass="my-segment">
                        <ion-segment-button value="2" (click)="enemyPlatformExponent()">交易额</ion-segment-button>
                        <ion-segment-button value="1" (click)="enemyPlatformExponent()">收益率</ion-segment-button>
                        <ion-segment-button value="3" (click)="enemyPlatformExponent()">期限</ion-segment-button>
                        <ion-segment-button value="4" (click)="enemyPlatformExponent()">项目数</ion-segment-button>
                    </ion-segment>
                    <div [ngSwitch]="enemyDataType" padding>
                        <!--交易额-->
                        <div *ngSwitchCase="'2'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">金额(元)</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of enemyPlatformsCompareData[2]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col col-4 text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        <span [innerHTML]="item.number"></span>
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <!--收益率-->
                        <div *ngSwitchCase="'1'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">收益率</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of enemyPlatformsCompareData[1]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col col-4 text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        <span [innerHTML]="item.number"></span>
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <!--期限-->
                        <div *ngSwitchCase="'3'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">期限(天)</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of enemyPlatformsCompareData[3]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col col-4 text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        <span [innerHTML]="item.number"></span>
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <!--项目数-->
                        <div *ngSwitchCase="'4'">
                            <ion-row>
                                <ion-col text-left><span ion-text color="gray">渠道名称</span></ion-col>
                                <ion-col text-right><span ion-text color="gray">项目数(个)</span></ion-col>
                            </ion-row>
                            <div class="info-list info-list-bg">
                                <ion-row *ngFor="let item of enemyPlatformsCompareData[4]"
                                         [style.background-size]="item.percent*100+'% 100%'">
                                    <ion-col col-4 text-left>{{item.bankName}}</ion-col>
                                    <ion-col text-right>
                                        <span [innerHTML]="item.number"></span>
                                        <ion-icon name="arrow-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
        <!--传统理财-->
        <ion-slide>
            <div padding-vertical>
                <ion-list class="model-title">
                    <ion-item (click)="showContent(2)">
                        <h2>定期理财利率统计</h2>
                        <ion-note item-right>
                            <ion-icon name="arrow-down"></ion-icon>
                        </ion-note>
                    </ion-item>
                </ion-list>
                <div padding-horizontal padding-bottom ngClass="platform-info" *ngIf="modelContent[2]">
                    <div eCharts [options]="lineChartOption_2" [dataSet]="regularTrendData"  class="line-chart-1"></div>
                    <ion-segment [(ngModel)]="rateTime" color="gray" ngClass="my-segment-1">
                        <ion-segment-button value="0" (click)="getRateTimeSegment()">1个月</ion-segment-button>
                        <ion-segment-button value="1" (click)="getRateTimeSegment()">1到3个月</ion-segment-button>
                        <ion-segment-button value="2" (click)="getRateTimeSegment()">3到6个月</ion-segment-button>
                        <ion-segment-button value="3" (click)="getRateTimeSegment()">6个月以上</ion-segment-button>
                    </ion-segment>
                    <h4 padding-top>渠道收益率对比</h4>
                    <ion-row>
                        <ion-col text-left><span ion-text color="gray">平台名称</span></ion-col>
                        <ion-col text-right><span ion-text color="gray">收益率</span></ion-col>
                    </ion-row>
                    <div class="info-list info-list-bg">
                        <ion-row *ngFor="let item of regularCompareData[1]"
                                 [style.background-size]="item.percent*100+'% 100%'">
                            <ion-col text-left>{{item.bankName}}</ion-col>
                            <ion-col text-right>
                                {{item.number}}
                                <ion-icon name="arrow-down"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
                <ion-list class="model-title">
                    <ion-item (click)="showContent(3)">
                        <h2>基金七日年化率统计</h2>
                        <ion-note item-right>
                            <ion-icon name="arrow-down"></ion-icon>
                        </ion-note>
                    </ion-item>
                </ion-list>
                <div padding-horizontal ngClass="platform-info" *ngIf="modelContent[3]">
                    <div eCharts [options]="lineChartOption_3" [dataSet]="fundTrendData" class="line-chart-1"></div>
                    <h4>渠道收益率对比</h4>
                    <ion-row>
                        <ion-col text-left><span ion-text color="gray">平台名称</span></ion-col>
                        <ion-col text-right><span ion-text color="gray">收益率</span></ion-col>
                    </ion-row>
                    <div class="info-list info-list-bg">
                        <ion-row *ngFor="let item of regularCompareData[2]"
                                 [style.background-size]="item.percent*100+'% 100%'">
                            <ion-col text-left>{{item.bankName}}</ion-col>
                            <ion-col text-right>
                                {{item.number}}
                                <ion-icon name="arrow-down"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>